.footer {
    padding: 40px 0;
    .contacts {
        display: flex;
        justify-content: space-between;

        .footer-contacts {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    
        .footer-contacts {
            //border: 1px solid lightcoral;
    
            color: #fff;
        
            li {
                //border: 1px solid red;
                
                display: flex;
                align-items: center;
                margin: 10px 0;
        
                svg {
                    margin-right: 10px;
                }

                img {
                    margin-right: 5px;
                }
            }
        }
    }

    .copyright {
        //border: 1px solid yellow;
        
        display: block;
        text-align: right;
        color: #fff;
        font-family: MontserratLight;
    }
}

@media(max-width: 450px) {
    .footer {
        padding: 20px 0;
        .contacts {
            flex-direction: column-reverse;
        }

        .copyright {
            text-align: left;
            font-size: 14px;
            font-family: MontserratLight;
        }
    }
}