.portfolio-cards {
    margin: 100px 0;
    //border: 1px solid red;

    &:before {
        border: 1px solid #096fb9;//royalblue;
        //display: block;
        content: "";
        width: 20%;
        transform: translateY(-10px);
    }

    .item {
    }

    h1 {
        //border: 1px solid blue;
        color: #096fb9;
    }

    .portfolios-header {
        //border: 1px solid red;
    }

    .portfolios-list {
        //border: 2px solid purple;

        margin-top: 20px;
    }
}

@media(max-width: 400px) {
    .portfolio-cards {
        h1 {
            font-size: 24px;
        }
    }
}