@import './shared/fonts';
// @import './header';

// PAGES
//@import './index';
//@import './base-page';

/* html, body {
    font-family: Montserrat, Arial, Helvetica, sans-serif !important;
} */

.self-typed {
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}
