.social-login 
{
    .btn-google-login {
        //border: 1px solid tomato;
        background-color: tomato;
    }

    .divider {
        margin: 10px 0;
    }

    button {
        //border: 1px solid red;
        color: #fff;
        width: 100%;
        margin-bottom: 10px;
    }
}