.index {
    border: 1px dotted red;

    .item {
        border: 1px solid yellow;
    }
    .row {
        border: 1px solid peru
    }

} //.index

/* .background-image {
    position: absolute;
    width: 1762px;
    height: 493px;
} */