@import './subMenu/sub-menu';
@import './subMenu/NavMenu/nav-menu';
@import './subMenu/LoginMenu/login-menu';
@import './subMenu/LangMenu/lang-menu';
@import './subMenu/DrawerMenu/drawer-menu';
@import './subMenu/AccountMenu/account-menu';

.main-menu {
    //flex: 1;
    //border: 2px solid black;
    //top: -3px !important;

    .brand {
        letter-spacing: 1px;
        font-size: 24px;
        font-weight: bold;
    }

    .btn-login {
        color: inherit;
        margin-left: auto
    }

    @media (max-width: 960px) {
        .brand {
            font-size: 20px;
        }
    }

    @media (max-width: 600px) {
        .brand {
            font-size: 16px;
        }
    }

    @media (max-width: 500px) {
        .brand {
            display: none;
        }
    }

    @media (max-width: 350px) {
        .brand {
            font-size: 13px;
        }
    }
}

/* .nav-link {
    text-decoration: none;
}
 */