.activity-filter {
    margin-top: .5rem;
    &__calendar {
        margin-top: 1rem;
    }

    .calendar {
        //border: 1px solid red;
        width: 100%;

        border: none;
        box-shadow: 0 1px 2px rgba(34, 36, 38, .15);
    }
}

@media(max-width: 600px) {
    .activity-filter {
        margin-top: 0;
    }
}
/* .event-filters {
    .filter-list {
        list-style: none;
        padding: 0;
        font-style: Roboto;

        &-calendar {
            margin-bottom: 1px;
        }

        li {
            margin-top: 1px;
            padding: 10px;
            background-color: #fff;
            border-radius: 3px;
        }

        li:first-child {
            color: teal;
            font-weight: bold;
        }
        
        li * {
            display: inline-block;
            padding: 0;
            margin: 0;
            vertical-align: middle;
        }
        
        li p {
            margin-left: 1rem;
        }
    }

    .calendar {
        //border: 1px solid red;
        width: 100%;

        border: none;
        box-shadow: 0 1px 2px rgba(34, 36, 38, .15);
    }
} */