@font-face {
    font-family: 'Montserrat';
    src: url('/static/fotns/Montserrat-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/static/fotns/Montserrat-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'MontserratLight';
    src: url('/static/fotns/Montserrat-Light.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'MontserratItalic';
    src: url('/static/fotns/Montserrat-Italic.ttf');
    font-style: normal;
}
