.services-skeleton {
    display: flex;
    width: 100%;

    list-style: none;
    margin: 0;
    padding: 0;

    .service {
        width: 100%;
        margin: 0 15px;

        h1 {
            margin: 0 0 15px 0;
        }
    }
}

@media(max-width: 1650px) {
    .services-skeleton {

        .service {
            margin: 0 10px;

            p {
                padding: 0 20px;
            }
        }

    }
}

@media(max-width: 1000px) {
    .services-skeleton {

        .service {
            margin: 0 7px;

            p {
                padding: 0 20px;
            }
        }
    }
}

@media(max-width: 900px) {
    .services-skeleton {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 500px) {
    .services-skeleton {
        margin: 0;

        h1 {
            margin: 30px 0;
            font-size: 26px;
        }

        .service {
            p {
                padding: 0px 3px;
            }
        }
    }
}

@media(max-width: 330px) {
    .services-skeleton {
        h1 {
            margin: 30px 0;
            font-size: 24px;
        }

        .service {


            h2,
            p {
                font-size: 14px;
            }
        }
    }
}