.event-form {
    //border: 2px solid blue;
    margin: 0 auto;

    .item {
        //border: 1px solid orange; 
    }

    .card-event {
        //border: 1px solid black;
        /* position: fixed;
        top: 15%;
        //max-width: 400px;
        width: 25%; */
        width: 100%;
        padding: 10px;

        h3 {
            //border: 1px solid red;
            margin-top: 0;
            text-align: center;
        }
        
        .form {
            //border: 1px solid red;
            display: flex;
            flex-direction: column;    
    
            > * { 
                margin: 4px;
            }

            .select-label {
                margin-left: 10px;
            }

            .event-buttons {
                //border: 1px solid black;

                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 7px;

                .right {
                    display: inline-block;
                    //border: 2px solid red;
                    > * {
                        margin: 0 10px;
                    }
                }

                .btn-reactivate {
                    background-color: green;
                    color: #fff;
                    /* &:hover {
                        color: green;
                    } */
                }
    
                .btn-cancel {
                    background-color: maroon;
                    color: #fff;
                    /* &:hover {
                        color: maroon;
                    } */
                }
                
                .btn-success {
                    background-color: teal;
                    color: #fff;
                    &:hover {
                        color: teal;
                    }
                }
            }  
        }
    }

}

/* @media(max-width: 1200px) {
    .event-form {
        .card-event {
            width: 30%;
        }
    }
}

@media(max-width: 960px) {
    .event-form {
        .card-event {
            width: 40%;
        }
    }
}

@media(max-width: 600px) {
    .event-form {
        .card-event {
            //position: relative;
            width: 100%;
        }
    }
} */