.activity-detailed-chat {
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 5px;
}

.activity-detailed-chat .header {
    padding: 10px;
    background-color: teal;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 5px 5px 0 0;
}

.activity-detailed-chat .comments { 
    padding: 0 20px 20px;
}

.activity-detailed-chat .comment {
    border: none;
    box-shadow: none;
}

.activity-detailed-chat .comment time {
    color: lightsteelblue;
    font-size: small;
    margin-left: 1rem;
}

.activity-detailed-chat .comment .avatar {
    margin: 10px;
}

.activity-detailed-chat .comment button {
    color: lightsteelblue;
}