.info-list {
    list-style: none;
    padding: 0;
    margin: .8rem 0 0;
}

.info-list li {
    margin-top: 1px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.info-list li * {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.info-list li p {
    margin-left: 1rem;
}