.icon-contacts {
    margin: 0;
    padding: 0;
    list-style: none;

    //border: 1px solid white;
    vertical-align: top;
    text-align: right;

    li {
        display: inline-block;
    }
}

@media(max-width: 450px) {
    .icon-contacts {
        svg, img {
            width: 35px !important;
            height: 35px !important;
        }
    }
}

@media(max-width: 320px) {
    .icon-contacts {
        svg, img {
            width: 29px !important;
            height: 29px !important;
        }
    }
}