.icon-contacts {
    margin: 0;
    padding: 0;
    list-style: none;

    //border: 1px solid white;
    vertical-align: top;
    text-align: right;
    //display: flex;

    li {
        display: inline-block;
    }

    button {
        padding: 5px;
        margin-left: 15px;
    }
}

@media(max-width: 320px) {
    .icon-contacts {
        svg, img {
            width: 29px !important;
            height: 29px !important;
        }
    }
}