{
    "presets": [
      [
        "next/babel"
        /* ,{
          "preset-env": {},
          "preset-react": {},
          "transform-runtime": {},
          "styled-jsx": {},
          "class-properties": {}
        } */
      ]
      /* ,[
        "@babel/env"
      ] */
    ]
    /* ,"plugins": [
      "@babel/plugin-transform-runtime"
    ] */
  }