.sub-menu {
    display: flex;
    flex-direction: row;

    padding: 0;
    list-style: none;

    text-transform: uppercase;

    .nav-item {
        margin: 0 30px;
        &.brand {
            display: none;
        }
        .nav-item-icon {
            display: none;
        }
    }

    a {
        color: white;
        font-family: Montserrat, Helvetica, sans-serif;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.8px;
        opacity: .8;

        &.active {
            color: #dba919;
        }

        &:hover,
        &:focus {
            color: #dba919;
        }
    }

    @media (max-width: 600px) {
        a {
            font-size: 16px;
        }
    }

    @media (max-width: 350px) {
        a {
            font-size: 13px;
        }
    }
}