
.portfolio-form {
    //border: 1px solid red;

    display: flex;
    flex-direction: column;

    margin: 60px auto;

    * {
        margin: 5px;
    }

    .item {
        //color: 1px solid yellow !important;
    }

    .btn-no_end_date, .btn-end_date {
        width: 30%;
    }

    .btn-end_date {
        margin: 5px;
        border: 1px solid green;
        color: green;
    }

    .btn-create {
        margin: 5px;
    }

    .form-control {
        //border: 1px solid red; 
        label {
            padding-left: 10px;
        }
    }
    
}

@media(max-width: 500px) {
    .portfolio-form {
        width: 90%;
    }
}