.profile-card {
    max-width: 300px;
    &__media {
        height: 150px;
    }
    &__content {
        padding-bottom: 5px !important;
    }
    &__followers {
        display: flex;
        align-items: center;
        color: grey;
        & > * {
            //border: 1px solid black
            margin: 10px;
        }
    }
}

@media(max-width: 400px) {
    .profile-card {
        &__media {
            height: 120px;
            width: auto;
        }
    }
}