.lang-menu {
    //border: 1px solid yellow;
    margin-left: auto;

    &__img {
        border-radius: 5px;
    }

    /* &__button {
        padding: 7px !important;
    } */
}

@media (max-width: 600px) {

    .lang-menu {
        &__img {
            //border: 1px solid #096fb9;
            max-width: 40px;
            max-height: 27px;
        }
        button {
            padding: 5px !important;
        }
    }
}

@media (max-width: 400px) {
    .lang-menu {
        &__img {
            max-width: 35px;
            max-height: 23px;
        }
    }
}