.random-planet {
    display: flex;
    padding: 1rem;
}

.random-planet .planet-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.random-planet .planet-caption {
    margin-left: 1rem;
}

.random-planet .term {
    margin-right: .5rem;
}