@import './fonts';

#__next {
    border: 1px solid purple
}

.base-layout {
    header {
        background-color: #096fb9 !important;
        //font-family: Montserrat, Helvetica, sans-serif;
    }
    
    main {
        border: 1px solid green
    }
}